node_modules/
.env
.deploy.env
*.log
Manual/

# Workdirs scripts éclaircissement (cf. scripts/eclaircir-fond-cartes.js)
cartes-pales/
cartes-test/
cartes-orig/

# DB auth meneur (sqlite local)
data/

# Artefacts régénérables depuis _modele-financier/offre-client.html (lourds)
_modele-financier/*.pdf
_modele-financier/*.zip
_modele-financier/pack-sylvain/
